*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Top Nav Bar*/
.navTop{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
/* search Bar*/
#search-wraper{
    display: flex;
    background-color: grey;
    align-items: center;
 padding: 5px 10px;
 border-radius: 5px;
}
.searchInput {
    background-color: transparent;
    border: none;
    
}
.searchInput::placeholder{
    color: white
}
.limited{
    font-size: 20px;
    border-bottom: 4px double #ECC7CE;
}

/* Nav Bar Bottom*/

.nav-bottom{
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.menuItem{
    margin-right: 2%;
    cursor: pointer;
}
.slider{
    display: flex;
    height: 80vh;
    background:url(/IMAGES/SLIDER-BAC-IMG.jpg);
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.slider-wraper{
    display: flex;
    width: 500vw;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    
}
.slider-bg{
width: 750px;
height: 750px;
background-color: yellow;
position: absolute;
border-radius: 50%;
z-index: -1;
}
.slider-img{
    z-index: 1;
}
.sliterTitle{
    position: absolute;
    right: 10%;
    top: 21%;
    color: white;
    font-size: 60px;
    text-align: center;
}

.sliderPrice{
  padding: 10px;
    position: absolute;
    right: 14%;
   top: 50%;
    font-weight: 500px;
    color: white;
    font-size: 60px;
    text-align: center;
    border: 1px solid grey;
}
.buyButton {
    position: absolute;
    font-weight: 900;
    right: 14%;
    top: 70%;
    background-color: #ECC7CE; /* pink */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .buyButton:hover {

    background-color: #aa717d; /* Green */

  }
  /* Green */
  .sliderItem:nth-child(1) .slider-bg {
    background-color: #ECC7CE;
  }
  .sliderItem:nth-child(2) .slider-bg {
    background-color: #c927e9;
  }
  .sliderItem:nth-child(3) .slider-bg {
    background-color: #bd1010;
  }
  .sliderItem:nth-child(4) .slider-bg {
    background-color: #be7900;
  }
  .sliderItem:nth-child(5) .slider-bg {
    background-color: #005fa8;
  }
  /* Slider price colors */
  .sliderItem:nth-child(1) .sliderPrice {
    background-color: #ECC7CE;
  }
  .sliderItem:nth-child(2) .sliderPrice {
    background-color: #c927e9;
  }
  .sliderItem:nth-child(3) .sliderPrice {
    background-color: #bd1010;
  }
  .sliderItem:nth-child(4) .sliderPrice {
    background-color: #be7900;
  }
  .sliderItem:nth-child(5) .sliderPrice {
    background-color: #005fa8;
  }
   /* Slider button colors */
   .sliderItem:nth-child(1) .buyButton {
    background-color: #ECC7CE;
  }
  .sliderItem:nth-child(2) .buyButton {
    background-color: #c927e9;
  }
  .sliderItem:nth-child(3) .buyButton {
    background-color: #bd1010;
  }
  .sliderItem:nth-child(4) .buyButton {
    background-color: #be7900;
  }
  .sliderItem:nth-child(5) .buyButton {
    background-color: #005fa8;
  }

  /*Feature*/
  .feature-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .featureIcon{
    width: 200px
  }

  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .featureTitle{
    font-size: 25px;
    font-weight: 500;
  }
  .featureDesc{
    color: grey;
  }